<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>E-Farming an Agriculture Category Flat Bootstrap Responsive Website Template | Home :: </title>
    <!-- custom-theme -->
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Viticulture Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    <script type="application/x-javascript">
        addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
               function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!-- //custom-theme -->
    <link href="~/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
    <link href="~/css/style.css" rel="stylesheet" type="text/css" media="all" />
    <!-- js -->
    <script type="text/javascript" src="~/js/jquery-2.1.4.min.js"></script>
    <!-- //js -->
    <link rel="stylesheet" href="~/css/flexslider.css" type="text/css" media="screen" property="" />
    <!-- font-awesome-icons -->
    <link href="~/css/font-awesome.css" rel="stylesheet" />
    <!-- //font-awesome-icons -->
    <link href="//fonts.googleapis.com/css?family=Dosis:200,300,400,500,600,700,800&amp;subset=latin-ext" rel="stylesheet" />
    <link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css' />
</head>

<body>
    <!-- banner -->
    <div class="banner">
        <div class="w3_agile_banner_top">
            <div class="agile_phone_mail">
                <ul>
                    <li><i class="fa fa-phone" aria-hidden="true"></i>+91 7608929803</li>
                    <li><i class="fa fa-envelope" aria-hidden="true"></i><a href="farmers123@gmail.com">efarming123@gmail.com</a></li>
                </ul>
            </div>
        </div>
        <div class="agileits_w3layouts_banner_nav">
            <nav class="navbar navbar-default">
                <div class="navbar-header navbar-left">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <h1><a class="navbar-brand" href="Home.aspx"><i>E</i><span>-farming</span></a></h1>
                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse navbar-right" id="bs-example-navbar-collapse-1">
                    <nav class="menu--iris">
                        <ul class="nav navbar-nav menu__list">
                            <li class="menu__item menu__item--current"><a href="/Home/Index" class="menu__link">Home</a></li>
                            <li class="menu__item"><a href="~/AboutUs.html" class="menu__link">About Us</a></li>
                            <li class="menu__item"><a href="~/Categories.html" class="menu__link">Categories</a></li>
                            <li class="dropdown menu__item">
                                <a href="" class="dropdown-toggle menu__link" data-toggle="dropdown">Farmers Market<b class="caret"></b></a>
                                <ul class="dropdown-menu agile_short_dropdown">
                                    <li><a href="/Products/Save_product">Sell Your Products</a></li>
                                    <li><a href="/Products/FarmerMarket">Go to Market</a></li>
                                </ul>
                            </li>
                            <li class="menu__item"><a href="~/ContactUs.html" class="menu__link">Contact Us</a></li>
                            <li class="menu__item">
                                <a href="javascript: void()" class="dropdown-toggle menu__link" data-toggle="dropdown">Login<b class="caret"></b></a>
                                <ul class="dropdown-menu agile_short_dropdown">
                                    <li><a href="/Home/Login?UserType=Farmer">Login as Farmer</a></li>
                                    <li><a href="/Home/Login?UserType=Customer">Login as Buyer</a></li>
                                </ul>
                            </li>
                            
                        </ul>
                    </nav>
                </div>
            </nav>
        </div>
        <div class="wthree_banner_info">
            <h2>
                <span>Agriculture</span>WELCOME TO E-FARMING

            </h2>
            <div class="agileinfo_more">
                <a class="link link--kumya" href="#" data-toggle="modal" data-target="#myModal"><span data-letters="Learn More">Learn More</span></a>
            </div>
        </div>
    </div>
    <!-- //banner -->
    <!-- bootstrap-pop-up -->
    <div class="modal video-modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    E-Farming
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
                <section>
                    <div class="modal-body">
                        <img src="~/images/99.jpeg" alt=" " class="img-responsive" />
                        <p>
                            E-Farming is a web application developed for farmers. This application gives suppose to the village farmers who want to use this facility and who want to learn how is it possible and how they can use e-farming to sell their products.

                            If the farmers have knowledge of computer then they can directly register in the site and sell their product otherwise they can contact company’s computer professional who will schedule classes to teach the basics of computers and internet. They can know how they can open this site and register with it and sell their products online etc.E-Farming is a project developed to build a website which will help farmers from to sell their products to different cities through online. Farmers can use this facility and can learn how is it possible and how they can use e-farming to sell their products.

                            </i>
                        </p>
                    </div>
                </section>
            </div>
        </div>
    </div>
    <!-- //bootstrap-pop-up -->
    <!-- banner-bottom -->
    <div class="banner-bottom">
        <div class="container">
            <h3><span>E-Farming</span> site which will help farmers from villages to sell their products to different cities.</h3>
            <div class="agileits_banner_bottom_grids">
                <div class="col-md-3 agileits_banner_bottom_grid">
                    <div class="hovereffect w3ls_banner_bottom_grid">
                        <img src="~/images/89.jpg" alt=" " class="img-responsive" />
                        <div class="overlay">
                            <h4>Plants</h4>
                            <p>Land plants, also known as Embryophyta</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 agileits_banner_bottom_grid">
                    <div class="hovereffect w3ls_banner_bottom_grid">
                        <img src="~/images/94.jpg" alt=" " class="img-responsive" />
                        <div class="overlay">
                            <h4>Flowers</h4>
                            <p>A flower, sometimes known as a bloom or blossom.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 agileits_banner_bottom_grid">
                    <div class="hovereffect w3ls_banner_bottom_grid">
                        <img src="~/images/97.jfif" alt=" " class="img-responsive" />
                        <div class="overlay">
                            <h4>Fruits</h4>
                            <p> fruit is the seed-bearing structure in flowering plants.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 agileits_banner_bottom_grid">
                    <div class="hovereffect w3ls_banner_bottom_grid">
                        <img src="~/images/90.jfif" alt=" " class="img-responsive" />
                        <div class="overlay">
                            <h4>Vegitables</h4>
                            <p>It comes from Old French.</p>
                        </div>
                    </div>
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>
    </div>
    <!-- //banner-bottom -->
    <!-- work -->
    <div class="work">
        <div class="container">
            <h3 class="w3l_header">Farmer's <span>KIT</span></h3>
        </div>
        <div class="w3layouts_work_grids">
            <section class="slider">
                <div class="flexslider">
                    <ul class="slides">
                        <li>
                            <div class="w3layouts_work_grid_left">
                                <img src="~/images/5.jpg" alt="" class="img-responsive" />
                                <div class="w3layouts_work_grid_left_pos">
                                    <img src="~/images/11.jpg" alt="" class="img-responsive" />
                                </div>
                            </div>
                            <div class="clearfix"> </div>
                        </li>
                        <li>
                            <div class="w3layouts_work_grid_left">
                                <img src="~/images/5.jpg" alt=" " class="img-responsive" />
                                <div class="w3layouts_work_grid_left_pos">
                                    <img src="~/images/12.jpg" alt=" " class="img-responsive" />
                                </div>
                            </div>
                            <div class="clearfix"> </div>
                        </li>
                        <li>
                            <div class="w3layouts_work_grid_left">
                                <img src="~/images/5.jpg" alt=" " class="img-responsive" />
                                <div class="w3layouts_work_grid_left_pos">
                                    <img src="~/images/13.jpg" alt=" " class="img-responsive" />
                                </div>
                            </div>
                            <div class="clearfix"> </div>
                        </li>
                        <li>
                            <div class="w3layouts_work_grid_left">
                                <img src="~/images/5.jpg" alt=" " class="img-responsive" />
                                <div class="w3layouts_work_grid_left_pos">
                                    <img src="~/images/14.jpg" alt=" " class="img-responsive" />
                                </div>
                            </div>
                            <div class="clearfix"> </div>
                        </li>
                        <li>
                            <div class="w3layouts_work_grid_left">
                                <img src="~/images/5.jpg" alt=" " class="img-responsive" />
                                <div class="w3layouts_work_grid_left_pos">
                                    <img src="~/images/15.jpg" alt=" " class="img-responsive" />
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </section>
            <!-- flexSlider -->
            <script defer src="~/js/jquery.flexslider.js"></script>
            <script type="text/javascript">
				$(window).load(function(){
				  $('.flexslider').flexslider({
					animation: "slide",
					start: function(slider){
					  $('body').removeClass('loading');
					}
				  });
				});
            </script>
            <!-- //flexSlider -->
        </div>
    </div>
    <!-- //work -->
    <!-- footer -->
    <div class="footer">
        <div class="container">
            <div class="col-md-4 w3layouts_footer_grid">
                <h2>Follow <span>Us</span></h2>
                <ul class="social_agileinfo">
                    <li><a href="https://www.facebook.com" class="w3_facebook"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="https://twitter.com/?lang=en" class="w3_twitter"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="https://www.instagram.com/?hl=en" class="w3_instagram"><i class="fa fa-instagram"></i></a></li>
                    <li><a href="#" class="w3_google"><i class="fa fa-google-plus"></i></a></li>
                </ul>
            </div>
            <div class="col-md-8 w3layouts_footer_grid">
                @*<form action="#" method="post">
                        <input type="email" name="Email" placeholder="Email..." required="">
                        <input type="submit" value="">
                    </form>*@
                @*<ul class="w3l_footer_nav">
                        <li><a href="Home.aspx" class="active">Home</a></li>
                        <li><a href="AboutUs.aspx">About Us</a></li>
                        <li><a href="Categories.aspx">Categories</a></li>
                        <li><a href="icons.html">Farmers Market</a></li>
                        <li><a href="Contact Us.aspx">Contact Us</a></li>
                        <li><a href="login.aspx">Login</a></li>
                    </ul>*@

                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 mb-xs-30">
                    <div class="single-navigation-section">
                        <h3 class="nav-section-title">INFORMATION</h3>
                        <ul>
                            @*
                                <li> <a href="/Category/Entertainment">Entertainment</a></li>*@
                            <li><a href="javascript:void()" class="active">Home</a></li>
                            <li><a href="javascript:void()">About Us</a></li>
                            <li><a href="javascript:void()">Categories</a></li>
                            <li><a href="javascript:void()">Farmers Market</a></li>
                            <li><a href="javascript:void()">Contact Us</a></li>
                            <li><a href="javascript:void()">Login</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 mb-xs-30" style="color:white">
                    <div class="single-navigation-section">
                        <h3 class="nav-section-title">About E-Farming</h3>
                        <ul>
                            <li>
                                <b>
                                    E farming is a project developed to build a website which will help farmer from to sell their products to different cities through oonline.
                                    buyer and seller can directly register in the site and sell/buy their product.
                                </b>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 mb-xs-30" style="color:white">
                    <div class="single-navigation-section">
                        <h3 class="nav-section-title">Business Time</h3>
                        <ul>
                            <li> Monday-Friday:08:00 AM TO 05:00 PM</li>
                            <li>Sunday:Closed</li>
                        </ul>

                    </div>
                </div></div>
            <div class="clearfix"> </div>
        </div>
    </div>
    <!-- //footer -->
    <!-- start-smoth-scrolling -->
    <script type="text/javascript" src="~/js/move-top.js"></script>
    <script type="text/javascript" src="~/js/easing.js"></script>
    <script type="text/javascript">
	jQuery(document).ready(function($) {
		$(".scroll").click(function(event){
			event.preventDefault();
			$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
		});
	});
    </script>
    <!-- start-smoth-scrolling -->
    <!-- for bootstrap working -->
    <script src="~/js/bootstrap.js"></script>
    <!-- //for bootstrap working -->
    <!-- here stars scrolling icon -->
    <script type="text/javascript">
		$(document).ready(function() {
			/*
				var defaults = {
				containerID: 'toTop', // fading element id
				containerHoverID: 'toTopHover', // fading element hover id
				scrollSpeed: 1200,
				easingType: 'linear'
				};
			*/

			$().UItoTop({ easingType: 'easeOutQuart' });

			});
    </script>
    <!-- //here ends scrolling icon -->
</body>
</html>